{% extends "learnlogs/base.html" %}
{% load bootstrap3 %}
{% load mytags %}
{% block header %}
    <h2><a href="{% url 'learnlogs:topic' topic.id %}">
        {{ topic }}</a></h2>
{% endblock header %}

{% block content %}
    <h2>{% trans 'Edit entry' request.session %}:</h2>
    <form action="{% url 'learnlogs:edit_entry' entry.id %}"
          method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">{% trans 'save change' request.session %}</button>
        {% endbuttons %}
    </form>
{% endblock content %}