{% extends 'learnlogs/base.html' %}
{% load bootstrap3 %}
{% load mytags %}
{% block header %}
    <h2>{% trans 'Add a new entry in' request.session %} <a
            href="{% url 'learnlogs:topic' topic.id %}">
        {{ topic }}</a>:</h2>
{% endblock header %}
{% block content %}
    <form action="{% url 'learnlogs:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit"
                    class="btn btn-primary">{% trans 'add entry' request.session %}</button>
        {% endbuttons %}
    </form>

{% endblock content %}